h1 {
    color: #26355E;
}

a {
    color: red;
}

h2 {
    color: #69263A;
}

.img {
 position: fixed;
 left: 50%;
 top: 50%;
 opacity: 0.3;
 z-index: -1;
} 

img {
    
}

html {
   
}

body{
   color: black;
   font-family: monospace;
   background-image: linear-gradient( to left, #ff9966, #e1eec3);
}

ol {
    color: black;
}

li {
    color: black;
}

b {
    color: black;
    font-family: sans-serif;
}

p {
    
}

table {
    border: 1px solid #f05053;
}

table td {
    border: 1px solid #f05053;
}

#caixa1 {
    height: auto;
    width: 550px;
    border: 2px solid  #f05053;
    border-radius: 20px;
    margin: 5px;
}

